:root {
    --background-dark: #2d3548;
    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

body {
    height: 100%;
}

.hero-section {
    align-items: flex-start;
    /* car */
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
}

@media(min-width: 540px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 960px) {
    .card-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    list-style: none;
    position: relative;
    border: none !important;
    box-shadow: 20px 20px 60px #bebebe,
    /* -20px -20px 60px #ffffff; */
}

.card:before {
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.card__background {
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition:
        filter 200ms linear,
        transform 200ms linear;
}

.card:hover .card__background {
    transform: scale(1.05) translateZ(0);
}

.card-grid:hover>.card:not(:hover) .card__background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
}

.card__category {
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
}

.card__heading {
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    word-spacing: 100vw;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

header {

    height: 56.25vw;
    background-color: #ffa200;
}

.header-img {
    width: 100%;
    height: 56.25vw;
}

.header-text {
    position: absolute;
    top: 20vw;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    font-size: 10rem;
    font-family: 'Times New Roman';


    color: white;
}

.header-nav {
    top: 3.5vw;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 7.5vw;
}

.header-nav img {
    max-width: 25%;
    max-height: max(25px, 5vw);
}

.header-nav-text {
    min-width: 50%;
}

.logo {
    height: auto;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.main-content-container {
    position: absolute;
    width: 100%;
    background: #ffff;
}

.wrapper {
    background-color: #ffff;
    /* min-height: 56.25vw; */
}

.first-text {
    width: 50%;
}

.second-text {
    width: 50%;
    margin-top: 40px;
}

.third-text {
    padding: 100px;
}

.first-img {
    width: min(550px, 50vw);
    height: min(450px, 50vw);
}

.second-img {
    width: min(550px, 50vw);
    height: min(450px, 50vw);
    margin-top: 60px;
}

.img-imit {
    border-radius: 10px;
    
     
}

.img-imit:hover .image {
    transform: scale(1.1);
}

/* .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
} */

.image {
    max-width: 100%;
    transition: transform 0.3s;
}

/* .text {
    flex: 1;
    padding: 0 20px;
} */

/* .overlay {
    filter:brightness(.5);
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 20;
    -webkit-filter:brightness(.5);
} */

.third-text {
    /* border-radius: 45px;
    background-color: rgba(0, 0, 0, 0.2);
    /* background: url(../assets/photo_2023-10-12_21-34-32.jpg),  ; 
    background-repeat: none;
    background-size: cover;
 */

 border-radius: 50px;
 background: linear-gradient(145deg, #9d958e, #847d78);
 box-shadow:  20px 20px 60px #7d7671,
              -20px -20px 60px #a9a099;
    max-width: 90%;
    margin: 0 auto;
}

.title-imit {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}

.text p {
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
    text-align: justify;
}

/* volcanos */
.volcanos-heading {
    /* width: var(--volcanosHeadingWidth); */
    /* max-width: 50%; */
}

.first-volcano {
    width: 45%;
}

.volcanos {
    position: relative;
    width: 18vw;
    height: 20vw;
}

.volcanos:hover {
    width: 100%;
}

.volcanos-style {
    overflow: hidden;
    width: 18vw;
    height: 20vw;
    border-radius: 15px;
}

/* .volcanos-style:hover {
    position: absolute;
    width: 100%;
} */

.card-body {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.la {
    position: relative;
}

.card-style {
    /* position: absolute; */
    background-color: lightgray;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.volcanos-2 {
    position: relative;
}

.volcanos-2 img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

.volcanos-text {
    position: absolute;
    top: 0;

    height: auto;
}

.volcanos-text2 {
    position: absolute;
    top: 0;

    height: 100%;
    z-index: 200;
}

.label-flex {
    height: auto;
}

.volcanos-text label {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    width: 50px;
    height: 50px;
    border: 3px solid #ffffff;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
}


/* -------- ----------- */
.cont_principal {
    position: relative;

    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbfaf6+9,d4cebf+74,d4cebf+74,d4cebf+100 */
  
    /* Old browsers */
    /* background: -moz-linear-gradient(-45deg, rgba(251, 250, 246, 1) 9%, rgba(212, 206, 191, 1) 74%, rgba(212, 206, 191, 1) 74%, rgba(212, 206, 191, 1) 100%); */
    /* FF3.6-15 */
    /* background: -webkit-linear-gradient(-45deg, rgba(251, 250, 246, 1) 9%, rgba(212, 206, 191, 1) 74%, rgba(212, 206, 191, 1) 74%, rgba(212, 206, 191, 1) 100%); */
    /* Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(135deg, rgba(251, 250, 246, 1) 9%, rgba(212, 206, 191, 1) 74%, rgba(212, 206, 191, 1) 74%, rgba(212, 206, 191, 1) 100%); */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfaf6', endColorstr='#d4cebf', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */



}


.cont_central {
    position: relative;
    width: 100%;
    top: 10%;
    margin-top: 200px;
}

.cont_modal {
    position: relative;
    width: 300px;
    height: 400px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transition-delay: 0.7s;
    -webkit-transition-delay: 0.7s;
    -o-transition-delay: 0.7s;
    transition-delay: 0.7s;
}

.cont_photo {
    position: relative;
    width: 1000px;
    height: 1000px;
    overflow: hidden;
    background-color: #eee;
    border-radius: 5px;
    top: -20px;
    float: left;
    z-index: 2;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transition: all 0.5s;
    box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.5);
}

.cont_img_back {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.cont_img_back>img {
    width: 100%;
    opacity: 0.7;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transition: all 1s;
}

.cont_img_back:hover>img {
    transform: scale(1.5);
}

.cont_text_ingredients {
    
    position: absolute;
    width: 0px;
    top: 0px;
    left: 990px;
    margin-left: 10px;
    height: 1000px;
    float: left;
    border-radius: 5px;
    z-index: 3;
    box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.2);

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbf9f9+28,e8eaed+100 */
    background: rgb(48, 21, 21);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(251, 249, 249, 1) 28%, rgba(232, 234, 237, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(251, 249, 249, 1) 28%, rgba(232, 234, 237, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(251, 249, 249, 1) 28%, rgba(232, 234, 237, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbf9f9', endColorstr='#e8eaed', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transition-delay: 0.7s;
    -webkit-transition-delay: 0.7s;
    -o-transition-delay: 0.7s;
    transition-delay: 0.7s;
}

.cont_icon_right {
    position: relative;
    float: right;
    margin-top: 16px;
}

.cont_icon_right>a {
    margin: 16px;
    margin-top: 16px;
    color: #fff;
}

.cont_detalles {
    position: absolute;
    bottom: -185px;
    height: 200px;
    border-radius: 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+100,000000+101&0+0,0.65+68 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 68%, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0.65) 101%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 68%, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0.65) 101%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 68%, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0.65) 101%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    /* IE6-9 */

    width: 100%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transition-delay: 1.2s;
    -webkit-transition-delay: 0.7s;
    -o-transition-delay: 0.7s;
    transition-delay: 0.7s;
}


.cont_detalles>h3 {
    margin-top: 50px;
    color: #fff;
    font-size: 24px;
}

.cont_detalles>p {
    color: #fff;
    width: 80%;
    text-align: left;
    font-size: 14px;
}

/* ---------------- Css Tabs -------- */

.cont_tabs {
    position: relative;
    float: left;
    width: 410px;
    height: 60px;
    border-bottom: 3px solid #EDEDEC;
}

.cont_tabs>ul {
    width: 300px;
    background-color: #eee;
}

.cont_tabs>ul>li {
    position: relative;
    float: left;
    width: 50%;
    list-style: none;
}



.cont_btn_open_dets {
    position: absolute;
    right: -15px;
    top: 50%;
}

.cont_btn_open_dets>a {
    display: block;
    padding-top: -5px;
    width: 30px;
    height: 30px;
    background-color: #ED2460;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0px 0px 20px -2px rgba(237, 36, 96, 1);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transition: all 0.5s;
    transform: rotate(180deg);
    position: st;

}


.cont_btn_open_dets>a>i {
    margin-top: 4px;
}

.cont_title_preparation {
    position: relative;
    float: left;
    margin: 10px 0px;
    width: 410px;
}

.cont_title_preparation>p {
    font-weight: 700;
    font-size: 14px;
    margin-left: 40px;
    text-align: left;
    color: #36354E;
}

.cont_info_preparation {
    position: relative;
    float: left;
    display: block;
}

.cont_info_preparation>p {
    margin: 5px 0px;
    margin-left: 50px;
    border-left: 2px solid #E3E3E3;
    font-size: 12px;
    padding: 20px 0px;
    padding-left: 20px;
    text-align: left;
    padding-right: 15px;
    color: #565656;

}

.cont_btn_mas_dets {
    position: absolute;
    bottom: 0px;
    left: 50%;
}

.cont_btn_mas_dets>a {
    color: #36354E;
}

.cont_over_hidden {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.cont_text_det_preparation {
    position: relative;
    width: 410px;
}

.cont_modal_active>.cont_text_ingredients>.cont_btn_open_dets>a {
    transform: rotate(0deg);
}

.cont_modal_active>.cont_text_ingredients {
    width: 500px;
    height: 900px;
    top: 25px;
    left: 985px;
    z-index: 1;
    box-shadow: 15px 20px 70px -5px rgba(0, 0, 0, 0.2);
}

.cont_modal_active {
    width: 900px;
}

.cont_modal_active>.cont_photo {
    box-shadow: 25px 10px 70px -5px rgba(0, 0, 0, 0.3);
}

.cont_modal_active>.cont_photo>.cont_mins>.sub_mins {
    opacity: 1;
}

.cont_modal_active>.cont_photo>.cont_servings {
    opacity: 1;
}

.cont_modal_active>.cont_photo>.cont_detalles {
    bottom: 0px;
}

@media screen and (max-width: 1200px) {

    .first-img,
    .first-text {
        width: 100%;

    }

    .first-img {
        display: flex;
        justify-content: center;
    }


}

@media screen and (max-width: 500px) {
    .first-img div {
        width: 100%;
    }
}
h4
{
    text-align: center;
}
hr
{
background-color: #2d3548;
height: 2px;
}
a{
    text-decoration: none;
    text-align: center; 
}
mark
{
background-color: #ed24602e;
}
