nav a {
    text-decoration: none;
    color: #ffffff;
}

header {
    
    height: 56.25vw;
    background-color: #ffa200;
}

.header-img {
    width: 100%;
    height: 56.25vw;
}

.header-text {
    position: absolute;
    top: 20vw;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    font-size: 10rem;
    font-family: 'Times New Roman';


    color: white;
}

.header-nav {
    top: 3.5vw;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 7.5vw;
}

.header-nav img {
    max-width: 25%;
    max-height: max(25px, 5vw);
}
.header-nav-text{
    min-width: 50%;
}

.logo {
    height: auto;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
.main-content-container{
    position: absolute;
    width: 100%;
    background: #ffff;
}
.wrapper {
    background-color: #ffff;
    min-height: 56.25vw;
}

.first-text {
    width: 50%;
}
.second-text {
    width: 50%;
    margin-top: 40px;
}

.first-img {
    width: min(550px, 50vw);
    height: min(450px, 50vw);
}
.second-img {
    width: min(550px, 50vw);
    height: min(450px, 50vw);
    margin-top: 60px;
}
.img-imit {
    width: min(550px, 50vw);
    height: min(450px, 50vw);
    margin-top: 60px;
}
/* volcanos */
.volcanos-heading{
    /* width: var(--volcanosHeadingWidth); */
    max-width: 50%;
}
.first-volcano{
    width: 45%;
}
.volcanos{
    width: 18vw;
    height: 20vw;
}
.card-style{
    background-color: lightgray;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

@media screen and (max-width: 1200px) {

    .first-img,
    .first-text {
        width: 100%;

    }

    .first-img {
        display: flex;
        justify-content: center;
    }


}

@media screen and (max-width: 500px) {
    .first-img div {
        width: 100%;
    }
}
